/*
 * En tom css-fil i första commiten.
 * Men sen kommer det hända grejer!
 */


@import url("http://prolog.spelkonvent.se/static/fonts/league-gothic/stylesheet.css");


.header h1  {
    	font-family:'League Gothic', Impact;
	text-transform:uppercase;
	color:#000;
	font-size:3em;

}
