/*
 * En tom css-fil i första commiten.
 * Men sen kommer det hända grejer!
 *  font-family:Georgia, Sans-Serif;
 */


@import url("http://prolog.spelkonvent.se/static/fonts/league-gothic/stylesheet.css");



body {
	color:#333;
}

#main {
    	font-family:georgia;
}

#main a {
    	font-weight: bold;
}

#main li {
    	padding-top:10px;
}

.content  {
    	margin-top: 10px;
}

a {
	color:#336600;
	text-decoration:none;
}

a:hover {
	color:#335C0A;
}

.p-taggar  {
	font-weight:bold;
	color:#999999;
}

.p-vad     {
 	-webkit-margin-after: 0.5em;
}




.pure-button-primary {
    background-color: #336600;
    color: #fff;
}

.pure-button-primary:hover {
    background-color: #335C0A;
    color: #fff;
}



.header h1  {
    	font-family:'League Gothic', Impact;
	text-transform:uppercase;
	color:#000;
	font-size:3em;
}


h1  {
    	font-family:'League Gothic', Impact;
	text-transform:uppercase;
	color:#000;
	font-size:3em;
    	font-weight: 300;
	line-height: normal;
}



#menu .pure-menu-heading  {
    	font-family:'League Gothic', Impact;
	text-transform:uppercase;
	font-size: 160%;
    	padding: 0.5em 0 0.5em 0.5em;
}


.pure-form legend   {
    	font-family:'League Gothic', Impact;
	text-transform:uppercase;
	font-size: 2em;
}


h2   {
    	font-family:'League Gothic', Impact;
	text-transform:uppercase;
	font-size: 2em;
	color:#000;
}


.content h2 {
	color:#000;
}


.p-arr {
    font-style: italic;
}


.p-vad {
    font-style: italic;
}


.p-taggar {
    font-style: italic;
}





#menu .pure-menu-heading {
    background: #336600;
}

#menu .pure-menu-heading:hover {
    background: #335C0A;
}


#footer  {
	font-size:0.8em;
	color:#666;
}